*,
*::after *::before {
  box-sizing: border-box;
}

li,
a,
input,
button,
select,
option,
textarea {
  list-style: none;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;

}

body{
  font-family: 'Lexend Deca', sans-serif;
  font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}